@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.button{
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    display: inline-block;
    background-color: hsl(40, 100%, 45%) ;
    border: 1px solid hsl(40, 100%, 45%);
    color: hsl(0, 100%, 100%);
    font-family: 'Roboto', serif;
    text-decoration: none;
    font-weight: 700;
}
.button:hover{
    background-color: hsl(40, 100%, 35%) ;
    border: 1px solid hsl(40, 100%, 35%);   
}
.button:focus{
    outline: none;
}
.button:active{
    background-color: hsl(40, 100%, 40%) ;
    border: 1px solid hsl(40, 100%, 40%);

}
.button.ok{
    background-color: hsl(110, 100%, 45%) ;
    border: 1px solid hsl(110, 100%, 45%);
}
.button.ok:hover{
    background-color: hsl(110, 100%, 35%) ;
    border: 1px solid hsl(110, 100%, 35%);   
}
.button:active{
    background-color: hsl(110, 100%, 35%) ;
    border: 1px solid hsl(110, 100%, 35%);

}
.button.danger{
    background-color: hsl(0, 100%, 45%) ;
    border: 1px solid hsl(0, 100%, 45%);
}
.button.danger:hover{
    background-color: hsl(0, 100%, 35%) ;
    border: 1px solid hsl(0, 100%, 35%);   
}
.button.danger:active{
    background-color: hsl(0, 100%, 35%) ;
    border: 1px solid hsl(0, 100%, 35%);

}
.button.small{
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 3px;
}