@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
button{
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    display: inline-block;
    background-color: hsl(40, 100%, 45%) ;
    border: 1px solid hsl(40, 100%, 45%);
    color: hsl(0 100% 100%);
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-weight: 700;
}